

/* .main-footer { */
    /* margin-top: auto; */
/* } */

.form-control:focus{
    border-color: green;
    box-shadow: 0 0 0 0.1rem #8ebdb1;
}

.page-container{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    min-height: 100vh;


}

.content-wrap{
    flex: 1;
}